/bin/
/target/
.scannerwork
/nbproject/
.idea

tests/zipcode/tibco.bwce.sample.binding.soap.http.ZipCodeServiceProvider/target/sonar/report-task.txt

tests/zipcode/tibco.bwce.sample.binding.soap.http.ZipCodeServiceProvider/target/sonar/.sonar_lock

tests/.DS_Store

docker/extensions/

.DS_Store
